section
  h2(id='server.resume')
    |POST /resume/&lt;libvirt-host-ip&gt;/&lt;instance-name&gt;

  p
    |Returns the confirmatiom status of the <code>virsh resume &lt;instance-name&gt;</code> command

  h3 Format
  ul
    li
      |JSON

  h3 Authentication Required
  ul
    li
      |YES

  h3 Response Elements
  ul
    li err
      ul
        li Can have three different values
          ol
            li The error message of the command execution
            li The stderr output of virsh
            li Null if the command is sucessful
    li data
      ul
        li Contains the stdout of the virsh command

  +js.
    {
      err: "Error message example"
      data: "Data message example"
    }