footer
  .row-fluid
    .span12
      footer
        hr
        p.muted
          | Designed and Maintained by
          abbr(title='Centre for the Development of Open Technology @ Seneca College') CDOT
          | | Built on Bootstrap

script(type="text/javascript", src="/js-libs/jquery.js")
script(type="text/javascript", src="/js-libs/jquery.tmpl.js")
script(type="text/javascript", src="/js-libs/underscore.js")
script(type="text/javascript", src="/js-libs/backbone.js")
script(type="text/javascript", src="/js-libs/toastr.js")
script(type="text/javascript", src='/js-libs/jquery.form.js')


script(src='/js-internal/daemon-management/models/daemon-model.js')
script(src='/js-internal/daemon-management/collections/daemons-collection.js')
script(src='/js-internal/daemon-management/views/daemons-view.js')
script(src='/js-internal/daemon-management/views/wrapper-view.js')
script(src='/js-internal/daemon-management/app.js')
