// Footer 
footer
  .row-fluid
    .span12
      footer
        hr
        p.muted
          | Designed and Maintained by 
          abbr(title='Centre for the Development of Open Technology @ Seneca College') CDOT
          |  | Built on {Backbone.js Bootstrap.js Node.js}

script(src='/js/plugins/jquery-1.9.1.min.js')
script(src='/js/plugins/jquery.form.js')
script(src='/js/plugins/jquery.tmpl.js')
script(src='/js/plugins/underscore.js')
script(src='/js/plugins/backbone.js')
script(src='/js/plugins/toastr.min.js')
script(src='/js/plugins/bootstrap.min.js')
script(src="/socket.io/socket.io.js")

script(src='/js/app/dashboard/API.js')

script(src='/js/app/dashboard/models/host.js')
script(src='/js/app/dashboard/models/instance.js')
script(src='/js/app/dashboard/models/user.js')
script(src='/js/app/daemon-management/models/daemon-model.js')
script(src='/js/app/logger-management/models/log-model.js')

script(src='/js/app/dashboard/collections/hostlist.js')
script(src='/js/app/dashboard/collections/instancelist.js')
script(src='/js/app/daemon-management/collections/daemons-collection.js')
script(src='/js/app/logger-management/collections/logs-collection.js')

script(src='/js/app/dashboard/views/breadcrumbs.js')
script(src='/js/app/dashboard/views/nav.js')
script(src='/js/app/dashboard/views/hostDescription.js')
script(src='/js/app/dashboard/views/hostRecord.js')
script(src='/js/app/dashboard/views/instanceRecord.js')
script(src='/js/app/dashboard/views/logout.js')
script(src='/js/app/dashboard/views/pagination.js')
script(src='/js/app/dashboard/views/loading.js')
script(src='/js/app/daemon-management/views/daemons-view.js')
script(src='/js/app/logger-management/views/log-view.js')

script(src='/js/app/dashboard/router.js')

script(src='/js/app/logger-management/controller.js')
script(src='/js/app/daemon-management/controller.js')
script(src='/js/app/dashboard/controller.js')
script(src='/js/app/VNMapp.js')
