
head
  title VirtManage - Dashboard

  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(href='/css/plugins/bootstrap/css/bootstrap.min.css', rel='stylesheet', media='screen')
  link(href='/css/custom.css', rel='stylesheet', media='screen')
  link(href='/css/plugins/toastr/css/toastr.min.css', rel='stylesheet', media='screen')
  link(href='/css/plugins/bootstrap/css/bootstrap-responsive.min.css', rel='stylesheet')
  
  // HTML5 shim, for IE6-8 support of HTML5 elements 
  // if lt IE 9
    script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
