
.span2
  .well.sidebar-nav
    ul.nav.nav-list
      li.nav-header Manage
      li.active
        a(href='#') Dashboard
      li
        a(href='#') Refresh Status
      li.nav-header Admin
      li
        a(href='#') Configuration
      li
        a(href='#') Logout
      li.divider
      li
        a(href='#')
          | Scan Network
          abbr.initialism(title='Scan only previously unused IPs') (Partial)
      li
        a(href='#')
          | Scan Network
          abbr.initialism(title="Scan entire network, reinitializing VirtManager's database") (Full)

