script#host-blank-template(type='text/template')
  <div class="well-small host-blank">
  <span class="muted">Select a host</span>
  </div>

script#host-record-template(type='text/template')
  <div class="well-small host-record">
  <table class="host">
  <tr>
  <td class="host-btn">
  <a  class="btn <%= active ? 'btn-success' : 'btn-danger' %> " href="#host/<%= ip %>">
  <i class="icon-cog"></i>
  </a>
  </td>
  <td class="host-ip">
  <strong>IP:</strong> <em class="muted"><%= ip %></em>
  </td>
  <td class="host-lastactive">
  </td>
  <td class="host-state">
  <strong>Daemon Status:</strong> <strong class="text-success"><%= active ? 'Connected' : 'Disconnected'%> </strong>
  </td>
  <td class="host-manage">
  <button type="button" class="btn" data-toggle="collapse" data-target="#host-<%= ip.split('.').join("_") %>">
  <i <%= expanded ? 'class="icon-chevron-up"' : 'class="icon-chevron-down"'%> ></i>
  </button>
  </td>
  </tr>
  </table>
  <div id="host-<%= ip.split('.').join("_") %>" class="collapse <%= expanded ? 'in' : 'out' %>">
  <table class="table table-bordered table-condensed host-details">
  <tr>
  <th rowspan="2">Hypervisor</th>
  <th>Type</th>
  <td><%= hypervisor %></td>
  </tr>
  <tr>
  <th class="<%= loadCritical === true ? "text-error" : "" %>">Load Average</th>
  <td class="<%= loadCritical === true ? "text-error" : "" %>"><%= load %></td>
  <tr>
  <th rowspan="2">RAM</th>
  <th class="<%= memCritical === true ? "text-error" : "" %>">Used</th>
  <td><%= memUsed %>gb</td>
  </tr>
  <tr>
  <th class="<%= memCritical === true ? "text-error" : "" %>">Free</th>
  <td><%= memFree %>gb</td>
  </tr>
  </table>
  </div>
  </div>

script#instance-record-template(type='text/template')
  <div class="well-small instance-record">
  <table class="instance">
  <tr>
  <td class="instance-id">
  <strong>ID:</strong> <em class="muted"><%= vid %></em>
  </td>
  <td class="instance-name">
  <strong>Name:</strong> <em class="muted"><%= id %></em>
  </td>
  <td class="instance-state">
  <strong>VM Status: </strong><strong class="text-success"><%= status %></strong>
  </td>
  <td class="instance-manage">
  <div class="btn-group pull-right">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"> Actions <span class="caret"></span> </a>
  <ul class="dropdown-menu">
  <li class="start"><a tabindex="-1">Start</a></li>
  <li class="shutdown"><a tabindex="-1">Shutdown</a></li>
  <li class="resume"><a tabindex="-1">Resume</a></li>
  <li class="suspend"><a tabindex="-1">Suspend</a></li>
  <li class="destroy"><a tabindex="-1">Destroy</a></li>
  </ul>
  <a class="btn btn-primary refresh" href="#">Refresh</a>
  </div>
  </td>
  </tr>
  </table>
  </div>

script#logout-template(type='text/template')
  <p class="navbar-text pull-right">Logout from <a href="user/logout" id="username"><%= username %></a></p>


script#pagination-template(type='text/template')
  <ul>
  <li <%= prev ? '' : 'class="disabled"' %> ><a href="<%= prevLink %>">Prev</a></li>
  <% _.each(pageLinks, function(pageLink) {
  %> <li <%= pageLink.active ? 'class="active"' : '' %>> <a href=<%= pageLink.link %>> <%= pageLink.order %></a></li>
  <% }); %>
  <li <%= next ? '' : 'class="disabled"' %> ><a href="<%= nextLink %>">Next</a></li>
  </ul>


script#breadcrumbs-template(type='text/template')
  <ul class="breadcrumb">
  <% if (typeof(routes) !== "undefined") {_.each(routes, function(route) {
  %> <li><a href=<%= route.path %>><%= route.sequence %></a> <span class="divider">/</span></li>
  <% });} %>
  <li class="active"><%= curPage %></li>
  </ul>

script#navigation-template(type='text/template')
  <ul class="nav nav-list">
  <li class="nav-header">Manage</li>
  <li class="<%= active === "dashboard" ? "active" : "" %>"><a href="#dashboard">Dashboard</a></li>
  <li class="<%= active === "daemon" ? "active" : "" %>"><a href="#daemons">Daemons</a></li>
  <li class="nav-header">Admin</li>
  <li class="<%= active === "logs" ? "active" : "" %>"><a href="#logs">Logs</a></li>
  <li><a href="user/logout">Logout</a></li>
  </ul>

script#manage-template(type='text/template')
  <h3>Add single host</h3>
  <div class="input-append">
  <input id="newDaemon" type="text" placeholder="Daemon IP address" autofocus="autofocus" class="input-large">
  <button id="addDaemon" class="btn btn-primary">Add Daemon</button>
  </div>
  <h3>Upload list of hosts</h3>
  <form id="hostManagementForm">
  <input id="file" type="file" name="file" class="hide ie_show">
  <div class="input-append ie_hide">
  <input id="pretty-input" type="text" onclick="$('#file').click();" class="input-large"><a onclick="$('#file').click();" class="btn">Browse</a>
  </div>
  <button id="uploadHosts" class="btn btn-primary">Upload file</button>
  </form>
  <h3>Host list</h3>
  <section id="main">
  <ul id="daemonsList" class="nav nav-tabs nav-stacked"></ul>
  </section>

script#host-title-template(type='text/template')
  <div class="well-small host-title">
  <h3><%= title %></h3>
  </div>

script#item-template(type="text/template")
  <div class="view"></div>
  <div class="input-prepend input-append"><span class="add-on"><img src="/img/glyphicons/png/glyphicons_206_ok_2.png"/></span>
  <input id="appendedPrependedInput" type="text" value="<%= ip %>" class="input-large"/>
  <button class="deleteBtn btn">Delete</button>
  </div>

script#loading-template(type="text/template")
  <div class="container">
  <div class="row">
  <div class="span1 offset4">
  <img class="img-rounded" src="/img/loading.gif" />
  </div>
  </div>
  </div>

script#instance-empty-template(type="text/template")
  <div class="well-small instance-record">
  <p class="text-error">No instance data found! If instances were expected, check the server logs for more details.</p>
  </div>

script(type="text/template", id="logsTemplate")
  <div class='wrap-log'>
  <li><b>Timestamp</b>: <%= timestamp %></li> 
  <li><b>File</b>: <%= file %></li> 
  <li><b>Line</b>: <%= line %></li> 
  <li><b>Message</b>: <%= message %></li> 
  </div>

script(type="text/template", id="logPageTemplate")
  <ul class="nav nav-tabs">
  <li class="active" id="viewErrorsBtn"><a>View Errors</a></li>
  <li id="viewInfoBtn"><a>View Info</a></li>
  </ul>
  <ul id="logsList"></ul>
  <button class="btn btn-primary" id="viewMoreBtn">View More</button>