ul#menu
  li#server-api 
    a(href='#server') Server
    ul#server-menu
      li: a(href='#server.listvms-group') List All
      li: a(href='#server.listvms-single') List One
      li: a(href='#server.listdaemons') List Daemons
      li: a(href='#server.version') Version
      li: a(href='#server.cpustats') CPU Stats
      li: a(href='#server.memstats') Memory Stats
      li: a(href='#server.status') Status
      li: a(href='#server.start') Start
      li: a(href='#server.shutdown') Shutdown
      li: a(href='#server.resume') Resume
      li: a(href='#server.suspend') Suspend
      li: a(href='#server.destroy') Destroy

  li#client-api 
    a(href='#client') Client
    ul#client-menu
      li: a(href='#client.listvms-group') List
      li: a(href='#client.version') Version
      li: a(href='#client.cpustats') CPU Stats
      li: a(href='#client.memstats') Memory Stats
      li: a(href='#client.status') Status
      li: a(href='#client.start') Start
      li: a(href='#client.shutdown') Shutdown
      li: a(href='#client.resume') Resume
      li: a(href='#client.suspend') Suspend
      li: a(href='#client.destroy') Destroy

  li#crawler-api 
    a(href='#crawler') Crawler
    ul#crawler-menu
      li: a(href='#crawler.network-scan') Network Scan
      li: a(href='#crawler.daemon-scan') Daemon Scan
      

