!!! 5
html
  head
    title VirtManage - Dashboard
    //
       Bootstrap 
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(href='css/custom.css', rel='stylesheet', media='screen')
    link(href='css/bootstrap-responsive.css', rel='stylesheet')
    //
       HTML5 shim, for IE6-8 support of HTML5 elements 
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
  body
    #virshmanagerapp
      //
         Header 
      header
        .navbar.navbar-fixed-top.navbar-inverse
          .navbar-inner
            .container
              a.brand(href='#') VirtManager
              p.navbar-text.pull-left
                small A Libvirt Cluster Web Console
              //
                 Username View 
              #logout
      //
         Main 
      #main.container
        .row
          //
             Navigation 
          .span2
            .well.sidebar-nav
              ul.nav.nav-list
                li.nav-header Manage
                li.active
                  a(href='#') Dashboard
                li
                  a(href='#') Refresh Status
                li.nav-header Admin
                li
                  a(href='#') Configuration
                li
                  a(href='#') Logout
                li.divider
                li
                  a(href='#')
                    | Scan Network
                    abbr.initialism(title='Scan only previously unused IPs') (Partial)
                li
                  a(href='#')
                    | Scan Network
                    abbr.initialism(title='Scan entire network, reinitializing VirtManager\'s database') (Full)
            //
               END NAV-LINKS 
          //
             END SPAN 
          //
             Content 
          .span10
            //
               Breadcrumbs View 
            #breadcrumbs
            .row
              .span10
                //
                   Host Description View 
                #description-area
                //
                   Records View 
                #record-area.well
                //
                   END WELL 
              //
                 END SPAN 
            //
               END ROW 
            //
               Pagination View 
            #pagination.pagination.pagination-right
          //
             END SPAN 
        //
           END ROW 
        //
           Footer 
        footer
          .row-fluid
            .span12
              footer
                hr
                p.muted
                  | Designed and Maintained by
                  abbr(title='Centre for the Development of Open Technology @ Seneca College') CDOT
                  | | Built on Bootstrap
      //
         END CONTAINER 
    //
       END APP 
    script(src='http://code.jquery.com/jquery-latest.js')
    script(src='js/underscore.js')
    script(src='js/backbone.js')
    script(src='js/backbone.localStorage.js')
    script(src='js/VNMapp.js')
    script(src='js/bootstrap.min.js')
    //
       Content Templates 
    script#host-blank-template(type='text/template')
      <div class="well-small host-blank">
      <span class="muted">Select a host</span>
      </div>
    //
       END Host-Blank-Template 
    script#host-record-template(type='text/template')
      <div class="well-small host-record">
      <table class="host">
      <tr>
      <td class="host-btn">
      <button type="button" class="btn" data-toggle="collapse" data-target="#host-<%= ip.split('.').join("_") %>">
      <i <%= expanded ? 'class="icon-chevron-up"' : 'class="icon-chevron-down"'%> ></i>
      </button>
      </td>
      <td class="host-ip">
      <strong>IP:</strong> <em class="muted"><%= ip %></em>
      </td>
      <td class="host-lastactive">
      <strong>Last Active: <em class="muted"><%= lastActive %></em>
      </td>
      <td class="host-state">
      <strong class="text-success"><%= active ? 'Connected' : 'Disconnected'%> </strong>
      </td>
      <td class="host-manage">
      <button type="button" class="btn <%= active ? 'btn-success' : 'btn-danger' %> pull-right" href="">
      <i class="icon-cog"></i>
      </button>
      </td>
      </tr>
      </table>
      <div id="host-<%= ip.split('.').join("_") %>" class="collapse <%= expanded ? 'in' : 'out' %>">
      <table class="table table-bordered table-condensed host-details">
      <tr>
      <th rowspan="2">Hypervisor</th>
      <th>Type</th>
      <td><%= hypervisor %></td>
      </tr>
      <tr>
      <th>Status</th>
      <td>Hypervisor Health Here</td>
      </tr>
      <tr>
      <th rowspan="2">CPU</th>
      <th>Used</th>
      <td><%= cpuUsed %> %</td>
      </tr>
      <tr>
      <th>Idle</th>
      <td><%= cpuIdle %> %</td>
      </tr>
      <tr>
      <th rowspan="2">RAM</th>
      <th>Used</th>
      <td><%= memUsed %>gb</td>
      </tr>
      <tr>
      <th>Free</th>
      <td><%= memFree %>gb</td>
      </tr>
      </table>
      </div>
      </div>
    //
       END Host-Record-Template 
    script#instance-record-template(type='text/template')
      <div class="well-small instance-record">
      <table class="instance">
      <tr>
      <td class="instance-id">
      <strong>ID:</strong> <em class="muted"><%= id %></em>
      </td>
      <td class="instance-name">
      <strong>Name:</strong> <em class="muted"><%= name %></em>
      </td>
      <td class="instance-state">
      <strong class="text-success"><% status %></strong>
      </td>
      <td class="instance-manage">
      <div class="btn-group">
      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
      Actions
      <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
      <li><a tabindex="-1" href="#">Refresh Status</a></li>
      <li class="divider"></li>
      <li><a tabindex="-1" href="#">Start</a></li>
      <li><a tabindex="-1" href="#">Shutdown</a></li>
      <li><a tabindex="-1" href="#">Resume</a></li>
      <li><a tabindex="-1" href="#">Suspend</a></li>
      <li><a tabindex="-1" href="#">Destroy</a></li>
      </ul>
      </div>
      </td>
      </tr>
      </table>
      </div>
    //
       END Host-Record-Template 
    //
       Scaffolding Templates 
    script#logout-template(type='text/template')
      <p class="navbar-text pull-right">
      Logout from <a href="#" id="username"><%= username %></a>
      </p>
    //
       END Logout-Template 
    script#pagination-template(type='text/template')
      <ul>
      <li <%= prev ? '' : 'class="disabled"' %> ><a href="<%= prevLink %>">Prev</a></li>
      <% _.each(pageLinks, function(pageLink) {
      %> <li <%= pageLink.active ? 'class="active"' : '' %>> <a href=<%= pageLink.link %>> <%= pageLink.order %></a></li>
      <% }); %>
      <li <%= next ? '' : 'class="disabled"' %> ><a href="<%= nextLink %>">Next</a></li>
      </ul>
    //
       END Pagination-Template 
    script#breadcrumbs-template(type='text/template')
      <ul class="breadcrumb">
      <% _.each(routes, function(route) {
      %> <li><a href=<%= route.path %>><%= route.sequence %></a> <span class="divider">/</span></li>
      <% }); %>
      <li class="active"><%= curPage %></li>
      </ul>
    //
       END Breadcrumb-Template 
