html
  head
    title

    // Bootstrap 
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(href='/css/custom.css', rel='stylesheet', media='screen')
    link(href='/css/bootstrap-responsive.css', rel='stylesheet')
  body
    // Header 
    header
      .navbar.navbar-fixed-top.navbar-inverse
        .navbar-inner
          .container
            a.brand(href='#') VirtManager
            p.navbar-text.pull-left
              small A Libvirt Cluster Web Console
            #logout
    // Main 
    #main.container
      .row
        .span6.offset3
          .well
            // Form Start 
            form.form-horizontal
              legend
                | Login
              .control-group
                label.control-label(for='inputEmail') User
                .controls
                  // Username 
                  input#username(type='text', placeholder='User')
              .control-group
                label.control-label(for='inputPassword') Password
                .controls
                  // Password 
                  input#password(type='password', placeholder='Password')
              .control-group
                .controls
                  label.checkbox
                    // Remember Me 
                    input(type='checkbox', value='yes')
                    | Remember me
                  // Submit 
                  button#submit-form.btn Sign in

    script(src='http://code.jquery.com/jquery-latest.js')
    script(src='/js/underscore.js')
    script(src='/js/bootstrap.min.js')  

    script
      var getFormData = function () {
        // validate data here
        return {
          username: $("#username").val(),
          password: $("#password").val()
        }
      };
      $("#submit-form").click(function (e) {
        console.log("getFormData: ", getFormData());
        $.ajax({
          type: "POST",
          url: "/user/auth",
          data: getFormData(),
          success: function (data) {
            console.log("success");
            console.log("data: ", data);
            if (data.result) {
              console.log("User authenticated, moving to the next step.");
              window.location = "/";
            } else {
              console.log("authentication failed, please try again");
            }
          },
          error: function () {
            console.log("error");
          },
          complete: function () {
            console.log("complete");
          }
        });
        e.preventDefault();
        return false;
      });
