!!! 5
html
  head
    title Virt Manager - web interface manager for libvirt
    include includes/head
  body.inner
    .bar
    
    section#content
      header
        include includes/logo
        active = '/'
        include includes/menu

     section#intro
       .content
         include includes/intro
    include includes/footer
