---
layout: default
title: User Guide
---
{% include topnav.html %}

<div class="row">
  <div class="span2">
    <!-- Navigation -->
    <div class="well sidebar-nav affix">
      <ul class="nav nav-list">
        {% for post in site.categories.userguide %}
          <li><a href="#{{ post.rawtitle }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="span10">
    <div id="heading"></div>
    <div class="row">
      <div data-offset="25" class="span10">
			  {% for post in site.categories.userguide %}
			  <article class="well post" id="{{ post.rawtitle }}">
			    {{ post.content }}
			  </article>
			  {% endfor %}
      </div>
    </div>
    <div id="pagination" class="pagination pagination-right"></div>
  </div>
