<header>
  <div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
        <a href="#" class="brand">WebVirt Documentation</a>
        <ul class="nav">
          <li><a href="/requirements/">Prerequisites</a></li>
          <li><a href="/install/">Config & Install</a></li>
          <li class="divider-vertical"></li>
          <li><a href="/userguide/">User Guide</a></li>
          <li class="divider-vertical"></li>
          <li><a href="/architecture/">Architecture</a></li>
          <li class="active dropdown">
            <a id="referenceDD" role="button" class="dropdown-toggle" data-toggle="dropdown" href="#">Reference (API & Config)</a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="referenceDD">
              <li role="presentation">
                <a role="menuitem" href="XXX">Node API</a>
              </li>
              <li role="presentation">
                <a role="menuitem" href="XXX">Node Configuration</a>
              </li>
              <li role="presentation" class="divider"></li>
              <li role="presentation">
                <a role="menuitem" href="XXX">Manager API</a>
              </li>
              <li role="presentation">
                <a role="menuitem" href="XXX">Manager Configuration</a>
              </li>
            </ul>
          </li>                                
          <li><a href="#">Troubleshooting</a></li>                                
        </ul>
      </div>
    </div>
  </div>
</header>

