
#main.container
  .row
    .span6.offset3
      .well
        // Form Start 
        form.form-horizontal
          legend
            | Login
          .control-group
            label.control-label(for='inputEmail') User
            .controls
              // Username 
              input#username(type='text', placeholder='User')
          .control-group
            label.control-label(for='inputPassword') Password
            .controls
              // Password 
              input#password(type='password', placeholder='Password')
          .control-group
            .controls
              label.checkbox
                // Remember Me 
                input(type='checkbox', value='yes')
                | Remember me
              // Submit 
              button#submit-form.btn Sign in