footer
  .row-fluid
    .span12
      footer
        hr
        p.muted
          | Designed and Maintained by
          abbr(title=' Centre for the Development of Open Technology @ Seneca College') CDOT
          | | Built on Bootstrap

script(type="text/javascript", src="/js-libs/jquery.js")
script(type="text/javascript", src="/js-libs/toastr.js")
  
include ../../../../public/js-internal/create-user.js


