footer
  .row-fluid
    .span12
      footer
        hr
        p.muted
          | Designed and Maintained by
          abbr(title=' Centre for the Development of Open Technology @ Seneca College') CDOT
          | | Built on Bootstrap

script(type="text/javascript", src="/js/plugins/jquery-1.9.1.min.js")
script(type="text/javascript", src="/js/plugins/toastr.min.js")
  
include ../../../../public/js/app/user-management/create-user.js
include ../../../../public/js/app/user-management/login.js
include ../../../../public/js/app/user-management/change-password.js



