head
  title Jade Example
  
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(href='/css/plugins/bootstrap/css/bootstrap.min.css', rel='stylesheet', media='screen')
  link(href='/css/custom.css', rel='stylesheet', media='screen')
  link(href='/css/plugins/toastr/css/toastr.min.css', rel='stylesheet', media='screen')
  link(href='/css/plugins/bootstrap/css/bootstrap-responsive.min.css', rel='stylesheet')

  