#virshmanagerapp
  
  // Header 
  header
    .navbar.navbar-fixed-top.navbar-inverse
      .navbar-inner
        .container
          a.brand(href='#') VirtManager
          p.navbar-text.pull-left
            small A Libvirt Cluster Web Console
          
          // Username View 
          #logout
