// load all scripts individually for development purposes
script(src="/javascripts/vendor/json2.js")
script(src="/javascripts/vendor/jquery.js")
script(src="/javascripts/vendor/jquery.resolved.js")
script(src="/javascripts/vendor/jquery.forms.js")
script(src="/javascripts/vendor/underscore.js")
script(src="/javascripts/vendor/backbone.js")
script(src="/javascripts/vendor/backbone.compute.js")
script(src="/javascripts/vendor/backbone.routefilter.js")
script(src="/javascripts/vendor/backbone.wreqr.js")
script(src="/javascripts/vendor/backbone.babysitter.js")
script(src="/javascripts/vendor/backbone.marionette.js")

script(src="/javascripts/vendor/toastr.min.js")
script(src="/javascripts/vendor/bootstrap.min.js")

script(src="/javascripts/bbclonemail/bbclonemail.js")
script(src="/javascripts/bbclonemail/components/appSelector.js")
script(src="/javascripts/bbclonemail/components/appController.js")

script(src="/javascripts/bbclonemail/dashboard/dashboard.js")
script(src="/javascripts/bbclonemail/dashboard/hostListView.js")
script(src="/javascripts/bbclonemail/dashboard/hostInstanceView.js")
script(src="/javascripts/bbclonemail/dashboard/dashboardapp.js")
script(src="/javascripts/bbclonemail/dashboard/router.js")

script(src="/javascripts/bbclonemail/logs/router.js")
script(src="/javascripts/bbclonemail/logs/logsapp.js")
script(src="/javascripts/bbclonemail/logs/logs.js")

script(src="/javascripts/bbclonemail/nodes/router.js")
script(src="/javascripts/bbclonemail/nodes/nodesapp.js")
script(src="/javascripts/bbclonemail/nodes/nodes.js")