#main.container
  .row
    .span6.offset3
      .well
        // Form Start 
        form.form-horizontal
          legend
            | Change User Password
          .control-group
            label.control-label(for='inputEmail') User
            .controls
              // Username 
              input#username(type='text', placeholder='User', autofocus)
          
          .control-group
            label.control-label(for='currentPassword') Current Password
            .controls
              // Password 
              input#currentPassword(type='password', placeholder='Password')
          
          .control-group
            label.control-label(for='newPassword') New Password
            .controls
              // Password 
              input#newPassword(type='password', placeholder='Password')
          
          .control-group
            label.control-label(for='newPasswordConfirm') Confirm New Password
            .controls
              // Password 
              input#newPasswordConfirm(type='password', placeholder='Password')

          .control-group
            .controls
              // Submit 
              button#submit-form.btn Create User