script#app-selector-template(type = "text/html")
  ul.nav.nav-list
    li.nav-header
      |Manage
    li
      a(href="#hosts")
        |Dashboard
    li
      a(href="#nodes")
        |NodeManager
    li.nav-header
      |Admin
    li
      a(href="#logs")
        |Logs
