script#email-preview-template(type = "text/template")
  div.well-small.host-record
    table.host
      tr
        td.host-btn
          a(class!='btn <%= active ? "btn-success" : "btn-danger" %>', href!="#hosts/<%= ip %>")
            i.icon-cog
      td.host-ip
        strong IP:
        em.muted <%= ip %>
      td.host-lastactive
      td.host-state
        strong Daemon Status: 
        strong.text-success <%= active ? 'Connected' : 'Disconnected'%>
      td.host-manage
        button.btn(type="button", data-toggle="collapse", data-target!='#host-<%= ip.split(".").join("_") %>')
          i(class!='<%= expanded ? "icon-chevron-up" : "icon-chevron-down" %>')
    div(id!='host-<%= ip.split(".").join("_") %>', class!='collapse <%= expanded ? "in" : "out" %>')
      table.table.table-bordered.table-condensed.host-details
        tr
          th(rowspan="2") Hypervisor
          th Type
          td <%= hypervisor %>
        tr
          th(class!='<%= loadCritical === true ? "text-error" : "" %>') Load Average
          td(class!='<%= loadCritical === true ? "text-error" : "" %>') <%= load %>
          th(rowspan="2") RAM
          th(class!='<%= memCritical === true ? "text-error" : "" %>') Used
          td <%= memUsed %> GB
        tr
          th(class!='<%= memCritical === true ? "text-error" : "" %>') Free
          td <%= memFree %> GB
