script#email-preview-template(type = "text/template")
  div.well-small.host-record
    table.host
      tr
        td.host-btn
          <% if (active) { %>
          a(class!='btn btn-success', href!="#hosts/<%= ip %>")
            i.icon-cog
          <% } else { %>
          a(class!='btn btn-danger')
            i.icon-cog
          <% } %>
        td.host-ip
          strong IP:
          em.muted <%= ip %>
        td.host-lastactive
        td.host-state
          strong Daemon Status: 
          strong.text-success <%= active ? 'Connected' : 'Disconnected'%>
        <% if (active) { %>
        td.host-manage
          button.btn(type="button", data-toggle="collapse", data-target!='#host-<%= ip.split(".").join("_") %>')
            i(class!='<%= expanded ? "icon-chevron-up" : "icon-chevron-down" %>')
        <% } %>
    div(id!='host-<%= ip.split(".").join("_") %>', class!='collapse <%= expanded ? "in" : "out" %>')
      table.table.table-bordered.table-condensed.host-details
        tr
          th(rowspan="4") Hypervisor
          th Type
          td <%= hypervisor %>
        tr
          th(class!='<%= loadCritical === true ? "text-error" : "" %>') Load Average
          td(class!='<%= loadCritical === true ? "text-error" : "" %>') <%= load %>
        tr  
          th(rowspan="2") RAM
          th Used
          td(class!='<%= memCritical === true ? "text-error" : "" %>') <%= memUsed %> GB
        tr
          th Free
          td(class!='<%= memCritical === true ? "text-error" : "" %>') <%= memFree %> GB
