script#host-list-empty-template(type = "text/html")
  .row
    .span8.offset1
      .well
        // Form Start 
        div
          h1 No WebVirt-Nodes
            br
          span
            |To add a WebVirt-Node click 
            a(href='#nodes') here
