script#log-levels-tab-template(type="text/template")
    ul.nav.nav-tabs
      li
        button.active.log-level-btn(data-level='error')
          b Errors
      li
        button.log-level-btn(data-level='info')
          b Info
      li
        button.log-level-btn(data-level='warning')
          b Warning
      li
        button.log-level-btn(data-level='exceptions')
          b Excpetions
