#boxes.clearfix
  section#web-applications
    h3 Something
    p.
      Some text here

  section#web-applications
    h3 Something
    p.
      Some text here


  section#web-applications
    h3 Something
    p.
      Some text here
